<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.gabamnml.unlock.mac</string>
	<key>connections</key>
	<dict>
		<key>B42F1C9F-EC6D-49FD-B844-D15E7991E59C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>995B0F80-00A4-4797-B485-A3249DA1D261</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>gabamnml</string>
	<key>description</key>
	<string>Unlock your Mac with Alfred Remote</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Unlock your Mac</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>-- Only works if load your screensaver
on alfred_script(q)
tell application "System Events"
		keystroke return
		delay 1
-- change string password by your real password
		keystroke "password"
		delay 1
		keystroke return
	end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>995B0F80-00A4-4797-B485-A3249DA1D261</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>triggerid</key>
				<string>com.gabamnml.unlock.mac.unlock</string>
				<key>triggername</key>
				<string>Unlock</string>
				<key>workflowonly</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.remote</string>
			<key>uid</key>
			<string>B42F1C9F-EC6D-49FD-B844-D15E7991E59C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>995B0F80-00A4-4797-B485-A3249DA1D261</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>B42F1C9F-EC6D-49FD-B844-D15E7991E59C</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
